<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Assignment-3</title>
<link  rel="stylesheet" href="https://priya2022.s3.jp-tok.cloud-object-storage.appdomain.cloud/priya.css">
</head>
<body class="box">
<h1> Images from Cloud object storage</h1><br>
 
   
<div>
    <img src="https://priya2022.s3.jp-tok.cloud-object-storage.appdomain.cloud/speed.jpg" width="200px">
    <img src="https://priya2022.s3.jp-tok.cloud-object-storage.appdomain.cloud/images.jpg" width="200px">
    <img src="https://priya2022.s3.jp-tok.cloud-object-storage.appdomain.cloud/index.jpg" width="200px">
    <img src="https://priya2022.s3.jp-tok.cloud-object-storage.appdomain.cloud/buddies.jpg" width="200px">
    <img src="https://priya2022.s3.jp-tok.cloud-object-storage.appdomain.cloud/doremon1.jpg" width="200px">
    
</div>

</body>
</html>


